---
title: Glamour | Premium Ghost Theme
---
<!-- Slider Revolution-->
<!--
    Use classes:
    rs-fullscreen
-->
<div class="tp-banner-container rs-youplay">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE NR. 1  -->
            <li data-thumb="assets/images/autumn-leaves-road.jpg" data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
                <!-- MAIN IMAGE -->
                <img src="assets/images/autumn-leaves-road.jpg" alt="" data-lazyload="assets/images/autumn-leaves-road.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption customin customout" data-x="left" data-hoffset="60" data-y="center" data-voffset="-45" data-customin="x:0;" data-customout="x:0;" data-start="0" data-speed="500" data-endspeed="500">
                    <h2 class="h1">Glamour</h2>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin customout" data-x="left" data-hoffset="60" data-y="center" data-voffset="45" data-customin="x:0;" data-customout="x:0;" data-start="0" data-speed="500" data-endspeed="500">
                    <a class="btn btn-lg" href="http://glampagne.themespectre.com" target="_demo">View Demo</a>
                    <a class="btn btn-lg btn-success" href="https://gumroad.com/l/themespectre-glamour">Purchase</a>
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<!-- /Slider Revolution-->

<div class="container youplay-store">

    <!-- Left Side -->
    <div class="col-md-3">



        <!-- Side Popular News -->
        <div class="side-block ">
            <h4 class="block-title">More Popular Themes</h4>
            <div class="block-content p-0">
                {{> popular}}
            </div>
        </div>
        <!-- /Side Popular News -->
    </div>
    <!-- /Left Side -->

    <div class="col-md-9">
        <!-- Post Info -->
        <article>

            <!-- Description -->
            <h2 class="mt-0">Glamour: A Rich Media Theme</h2>
            <div class="description">
                <p>
                    Sophisticated, bold, and elegant. Focused on rich media based content, Glamour will put your artwork on a pedestal and place your work center stage
                </p>

                <div class="row">
                    <br>
                    <a class="btn btn-lg pull-right" href="https://gumroad.com/l/themespectre-glamour">Purchase – $9.00</a>
                </div>
                <br>


            </div>
            <!-- /Description -->

            <!-- Images With Text -->
            <div class="youplay-carousel gallery-popup">
                <a class="angled-img" href="assets/images/glamour/1.png">
                    <div class="img" style="max-height:140px">
                        <img src="assets/images/glamour/1.png" alt="">
                    </div>
                    <i class="fa fa-search-plus icon"></i>
                </a>
                <a class="angled-img" href="assets/images/glamour/2.jpg">
                    <div class="img" style="max-height:140px">
                        <img src="assets/images/glamour/2.jpg" alt="">
                    </div>
                    <i class="fa fa-search-plus icon"></i>
                </a>
                <a class="angled-img" href="assets/images/glamour/3.jpg">
                    <div class="img" style="max-height:140px">
                        <img src="assets/images/glamour/3.jpg" alt="">
                    </div>
                    <i class="fa fa-search-plus icon"></i>
                </a>
                <a class="angled-img" href="assets/images/glamour/4.jpg">
                    <div class="img" style="max-height:140px">
                        <img src="assets/images/glamour/4.jpg" alt="">
                    </div>
                    <i class="fa fa-search-plus icon"></i>
                </a>
                <a class="angled-img" href="assets/images/glamour/5.jpg">
                    <div class="img" style="max-height:140px">
                        <img src="assets/images/glamour/5.jpg" alt="">
                    </div>
                    <i class="fa fa-search-plus icon"></i>
                </a>


                <a class="angled-img" href="assets/images/glamour/6.png">
                    <div class="img" style="max-height:140px">
                        <img src="assets/images/glamour/6.png" alt="">
                    </div>
                    <i class="fa fa-search-plus icon"></i>
                </a>

                <a class="angled-img" href="assets/images/glamour/7.png">
                    <div class="img" style="max-height:140px">
                        <img src="assets/images/glamour/7.png" alt="">
                    </div>
                    <i class="fa fa-search-plus icon"></i>
                </a>

            </div>
            <!-- /Images With Text -->

            <!-- Post Share -->
            <div class="btn-group social-list mt-20">
                <a class="btn btn-default" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+escape(window.location.href)+'&t='+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-default" onclick="window.open('http://twitter.com/share?url='+escape(window.location.href)+'&text='+document.title+'&hashtags=ghost,tryghost,themespectre', '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                <a class="btn btn-default" onclick="window.open('https://plus.google.com/share?url='+escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" title="Share on Google Plus"><i class="fa fa-google-plus"></i></a>
                <a class="btn btn-default" onclick="window.open('http://www.tumblr.com/share/link?url='+escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" title="Share on Tumblr"><i class="fa fa-tumblr"></i></a>
            </div>
            <!-- /Post Share -->
        </article>
        <!-- /Post Info -->


        <!-- Information -->
        <div class="requirements-block">
            <br>
            <div class="panel-group youplay-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Features <span class="icon-plus"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Fully Responsive<br>
                            Mobile-friendly design<br>
                            Optimized for performance & fast load times<br>
                            High-resolution images supported<br>
                            Cross-browser & mobile support<br>
                            Ghost v0.4 - v0.5 Support<br>
                            Ghost.org support<br>
                            Disqus comment support<br>
                            Youtube / Vimeo video embed support<br>
                            Soundcloud embed support<br>
                            Social Media profile support<br>
                            Documentation included
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Requirements <span class="icon-minus"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div>
                                <strong>Ghost v0.4 or later or ghost.org account</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Information -->
    </div>

</div>

<!-- Related -->
<h2 class="container">Related</h2>
<br>
{{> related}}
