---
title: Home
---
<!-- Banner -->
<section class="youplay-banner banner-top">
    <div class="image" style="background-image:url(https://ununsplash.imgix.net/photo-1427348693976-99e4aca06bb9?q=75&fm=jpg&w=1920&fit=max&s=329d7de28fe193b2c35b9d2f9755a984);background-size:cover" data-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;">
    </div>

    <div class="info" data-top="opacity: 1; transform: translate3d(0px,0px,0px);" data-top-bottom="opacity: 0; transform: translate3d(0px,150px,0px);" data-anchor-target=".youplay-banner.banner-top">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <h2>Apparition: <br>Single-Page App Theme</h2>
                        <em>"One of the most creative ghost themes on the market"</em>
                        <br>
                        <br>
                        <br>
                        <a class="btn btn-lg" href="http://steady-wagon-90-133356.usw1-2.nitrousbox.com:4000" target="_new">VIEW DEMO</a>
                    </div>
                    <div class="col-sm-5">
                        <img src="assets/images/apparition-title.jpg" class="hidden-xs" alt="" style="max-height:320px;max-width:100%;opacity:0.85;border:4px solid #fff;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Banner -->


<!-- Specials -->
<h2 class="container h1">Premium Ghost Themes <a href="store.html" class="btn pull-right">See More</a></h2>
{{> related}}
<!-- /Specials -->


<!-- Preorder -->
<div class="h2"></div>
<section class="youplay-banner small">
    <div class="image" style="background-image: url(assets/images/gs.jpg); background-size: cover;" data-top-bottom="background-position: 50% -150px;" data-bottom-top="background-position: 50% 150px;">
    </div>

    <div class="info container align-center">
        <div>
            <h2>Ghost Stories:<br> Free Theme by ThemeSpectre</h2>
            <br>
            <br>
            <a class="btn btn-lg" href="product.html">DOWNLOAD NOW</a>
        </div>
    </div>
</section>
<!-- /Preorder -->


<!-- Features -->
<h2 class="container h1">Why ThemeSpectre?</h2>
<section class="youplay-features container">
    <div class="col-md-3 col-xs-12">
        <div class="feature angled-bg">
            <i class="fa fa-cc-visa"></i>
            <h3>Payment</h3>
            <small>Secure Checkout via Gumroad</small>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="feature angled-bg">
            <i class="fa fa-life-ring"></i>
            <h3>Free Updates</h3>
            <small>Automatic Updates for Life</small>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="feature angled-bg">
            <i class="fa fa-money"></i>
            <h3>Value</h3>
            <small>Our Themes are a Great Value</small>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="feature angled-bg">
            <i class="fa fa-users"></i>
            <h3>Community</h3>
            <small>Well-Tested and Open Source</small>
        </div>
    </div>
    <div class="col-xs-12">
        <br>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-md-offset-0 col-sm-3 col-md-2 text-right">
                <img src="assets/images/john-o-nolan.jpg" alt=""/>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10">
                <blockquote>“I’m incredibly excited to see the very first Ghost themes company come to life in Theme Spectre. Everyone else is going to have to try and keep up!”</blockquote>
                <div class="text-right">
                    <br>
                    <h4>– John O’Nolan, Ghost Founder &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                </div>
            </div>
        </div>
    </div>
</section>
