---
title: Premium Ghost Themes
storeSlider: true
---
<div class="container youplay-store store-grid">

    <!-- Games List -->
    <div class="col-md-9 isotope">
        <!-- Sort Categories -->
        <ul class="pagination isotope-options">
            <li data-filter="all" class="active"><span>All</span>
            </li>
            <li data-filter="popular"><span>Popular</span>
            </li>
            <li data-filter="specials"><span>Specials</span>
            </li>
        </ul>
        <!-- /Sort Categories -->

        <div class="isotope-list row">

            <!-- Single Product Block -->
            <div class="item col-lg-4 col-md-6 col-xs-12" data-filters="popular">
                <a href="apparition.html" class="angled-img">
                    <div class="img img-offset">
                        <img src="assets/images/app-skew-2-500_375.jpg" alt="">
                        <div class="badge show bg-default">-30%</div>
                    </div>
                    <div class="bottom-info">
                        <h4>Apparition</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="price">
                                    $19.00 <sup><del>$18.00</del></sup>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /Single Product Block -->

            <!-- Single Product Block -->
            <div class="item col-lg-4 col-md-6 col-xs-12" data-filters="popular">
                <a href="glamour.html" class="angled-img">
                    <div class="img img-offset">
                        <img src="assets/images/glam-skew-500_375.jpg" alt="">
                        <div class="badge show bg-default">-50%</div>
                    </div>
                    <div class="bottom-info">
                        <h4>Glamour</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="price">
                                    $9.00 <sup><del>$18.00</del></sup>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /Single Product Block -->

            <!-- Single Product Block -->
            <div class="item col-lg-4 col-md-6 col-xs-12" data-filters="popular,specials">
                <a href="personality.html" class="angled-img">
                    <div class="img img-offset">
                        <img src="assets/images/personal-skew-500_375.jpg" alt="">
                        <div class="badge show bg-default">-50%</div>
                    </div>
                    <div class="bottom-info">
                        <h4>Personality</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="price">
                                    $9.00 <sup><del>$18.00</del></sup>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /Single Product Block -->

            <!-- Single Product Block -->
            <div class="item col-lg-4 col-md-6 col-xs-12" data-filters="">
                <a href="ranger.html" class="angled-img">
                    <div class="img img-offset">
                        <img src="assets/images/ranger-skew-500_375.jpg" alt="">
                        <div class="badge show bg-default">-50%</div>
                    </div>
                    <div class="bottom-info">
                        <h4>The Ranger</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="price">
                                    $9.00 <sup><del>$18.00</del></sup>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /Single Product Block -->

            <!-- Single Product Block -->
            <div class="item col-lg-4 col-md-6 col-xs-12" data-filters="">
                <a href="samantha.html" class="angled-img">
                    <div class="img img-offset">
                        <img src="assets/images/samantha-skew-500_375.jpg" alt="">
                        <div class="badge show bg-default">-33%</div>
                    </div>
                    <div class="bottom-info">
                        <h4>Samantha</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="price">
                                    $12.00 <sup><del>$18.00</del>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /Single Product Block -->

            <!-- Single Product Block -->
            <div class="item col-lg-4 col-md-6 col-xs-12" data-filters="popular">
                <a href="talkative.html" class="angled-img">
                    <div class="img img-offset">
                        <img src="assets/images/big-talk-skew-500_375.jpg" alt="">
                        <div class="badge show bg-default">-50%</div>
                    </div>
                    <div class="bottom-info">
                        <h4>Talkative</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="price">
                                    $9.00 <sup><del>$18.00</del>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /Single Product Block -->

            <!-- Single Product Block -->
            <div class="item col-lg-4 col-md-6 col-xs-12" data-filters="specials,free">
                <a href="classy.html" class="angled-img">
                    <div class="img img-offset">
                        <img src="assets/images/classy-skew-500_375.jpg" alt="">
                        <div class="badge show bg-success">FREE</div>
                    </div>
                    <div class="bottom-info">
                        <h4>Classy</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="price">
                                    <span class="text-success">FREE!</span>  <sup><del>$14.00</del>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /Single Product Block -->

            <!-- Single Product Block -->
            <div class="item col-lg-4 col-md-6 col-xs-12" data-filters="specials,free">
                <a href="ghost-stories.html" class="angled-img">
                    <div class="img img-offset">
                        <img src="assets/images/gs-skew-500_375.jpg" alt="">
                        <div class="badge show bg-success">FREE</div>
                    </div>
                    <div class="bottom-info">
                        <h4>Ghost Stories</h4>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="price">
                                    <span class="text-success">FREE!</span>  <sup><del>$14.00</del>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /Single Product Block -->
        </div>

    </div>
    <!-- /Games List -->

    <!-- Right Side -->
    <div class="col-md-3">

        <!-- Side Popular News -->
        <div class="side-block right-side">
            <h4 class="block-title">Popular Themes</h4>
            <div class="block-content p-0">

              {{> popular}}

            </div>
        </div>
        <!-- /Side Popular News -->
    </div>
    <!-- /Right Side -->
</div>
