---
component: footer
---
<!-- Footer -->
<footer>
    <div class="wrapper" style="background:#2b296b" data-bottom="transform:translate3d(0px,0px,0px);" data-bottom-top="transform:translate3d(0px,-200px,0px);" data-anchor-target="footer">

        <!-- Social Buttons -->
        <div class="social">
            <div class="container" data-bottom-top="opacity: 0;" data-bottom="opacity: 1;">
                <h3>Connect with <strong>ThemeSpectre</strong></h3>

                <div class="row icons">
                    <div class="col-xs-6 col-sm-4">
                        <a href="https://facebook.com/themespectre" target="_new">
                            <i class="fa fa-facebook-square"></i>
                            <br><br>
                            <span>Like us on Facebook</span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <a href="https://twitter.com/themespectre" target="_new">
                            <i class="fa fa-twitter-square"></i>
                            <br><br>
                            <span>Follow us on Twitter</span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <a href="https://github.com/themespectre/linen" target="_new">
                            <i class="fa fa-github-square"></i>
                            <br><br>
                            <span>Fork Linen on Github</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!-- /Social Buttons -->

        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <strong>Copyright</strong> &copy; 2015 ThemeSpectre. All rights reserved
            </div>
        </div>
        <!-- /Copyright -->

    </div>
</footer>
<!-- /Footer -->
