---
component: nav
---
<!-- Navbar -->
<nav class="navbar-youplay navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="off-canvas" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" style="width:200px">
                <img src="assets/images/logo.png" alt="">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-hover ">
                    <a class="dropdown-toggle" role="button" aria-expanded="false">
                        Store <span class="caret"></span> <span class="label">BROWSE THEMES</span>
                    </a>
                    <div class="dropdown-menu" style="width: 360px;">
                        <ul role="menu">
                            <li>
                                <a href="store.html"><strong>Premium Themes</strong></a>
                            </li>
                            <li>
                                <a href="apparition.html">Apparition</a>
                            </li>
                            <li>
                                <a href="samantha.html">Samantha</a>
                            </li>
                            <li>
                                <a href="glamour.html">Glamour</a>
                            </li>
                            <li>
                                <a href="ranger.html">The Ranger</a>
                            </li>
                            <li>
                                <a href="talkative.html">Talkative</a>
                            </li>
                            <li>
                                <a href="personality.html">Personality</a>
                            </li>
                        </ul>

                        <ul role="menu">
                            <li>
                                <a href="store.html"><strong>Free Themes</strong></a>
                            </li>
                            <li>
                                <a href="ghost-stories.html">Ghost Stories</a>
                            </li>
                            <li>
                                <a href="classy.html">Classy</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="http://themespectre.wpengine.com/linen/" target="_new">
                        Linen<span class="label">OPEN SOURCE</span>
                    </a>
                </li>

                <li>
                    <a href="http://themespectre.wpengine.com/blog/" target="_new">
                        Blog<span class="label">RECENT POSTS</span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://facebook.com/themespectre" target="_new" style="position: relative;top: 5px;">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>

                <li>
                    <a href="https://twitter.com/themespectre" target="_new" style="position: relative;top: 5px;">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/themespectre/linen" target="_new" style="position: relative;top: 5px;">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /Navbar -->
