<!-- Single News Block -->
<div class="row youplay-side-news">
    <div class="col-xs-3 col-md-4">
        <a href="apparition.html" class="angled-img">
            <div class="img">
                <img src="assets/images/app-skew-2-500_375.jpg" alt="">
            </div>
        </a>
    </div>
    <div class="col-xs-9 col-md-8">
        <h4 class="ellipsis"><a href="apparition.html" title="Apparition">Apparition</a></h4>
        <span class="price">$19.00</span>
    </div>
</div>
<!-- /Single News Block -->

<!-- Single News Block -->
<div class="row youplay-side-news">
    <div class="col-xs-3 col-md-4">
        <a href="glamour.html" class="angled-img">
            <div class="img">
                <img src="assets/images/glam-skew-500_375.jpg" alt="">
            </div>
        </a>
    </div>
    <div class="col-xs-9 col-md-8">
        <h4 class="ellipsis"><a href="glamour.html" title="Glamour">Glamour</a></h4>
        <span class="price">$9.00</span>
    </div>
</div>
<!-- /Single News Block -->

<!-- Single News Block -->
<div class="row youplay-side-news">
    <div class="col-xs-3 col-md-4">
        <a href="personality.html" class="angled-img">
            <div class="img">
                <img src="assets/images/personal-skew-500_375.jpg" alt="">
            </div>
        </a>
    </div>
    <div class="col-xs-9 col-md-8">
        <h4 class="ellipsis"><a href="personality.html" title="Personality">Personality</a></h4>
        <span class="price">$9.00</span>
    </div>
</div>
<!-- /Single News Block -->

<!-- Single News Block -->
<div class="row youplay-side-news">
    <div class="col-xs-3 col-md-4">
        <a href="talkative.html" class="angled-img">
            <div class="img">
                <img src="assets/images/big-talk-skew-500_375.jpg" alt="">
            </div>
        </a>
    </div>
    <div class="col-xs-9 col-md-8">
        <h4 class="ellipsis"><a href="talkative.html" title="Talkative">Talkative</a></h4>
        <span class="price">$9.00</span>
    </div>
</div>
<!-- /Single News Block -->
