<!-- Slider Revolution -->
<!--
  Use classes:
  rs-fullscreen
-->
<div class="tp-banner-container rs-youplay rs-fullscreen">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE NR. 1  -->
            <li data-thumb="assets/images/app-1920_1080.jpg" data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
                <!-- MAIN IMAGE -->
                <img src="https://ununsplash.imgix.net/photo-1427348693976-99e4aca06bb9?q=75&fm=jpg&w=1920&fit=max&s=329d7de28fe193b2c35b9d2f9755a984" alt="" data-lazyload="https://ununsplash.imgix.net/photo-1427348693976-99e4aca06bb9?q=75&fm=jpg&w=1920&fit=max&s=329d7de28fe193b2c35b9d2f9755a984" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption customin customout" data-x="left" data-hoffset="60" data-y="center" data-voffset="0" data-customin="x:200;scaleX:0.5;scaleY:0.5;" data-customout="x:0;scaleX:1;scaleY:1;" data-start="500" data-speed="700" data-easing="Sine.easeInOut"
                     data-endspeed="600" data-endeasing="Linear.easeNone">
                    <h2 class="h1">Apparition: <br>Single-Page App Theme</h2>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin customout" data-x="left" data-hoffset="60" data-y="center" data-voffset="160" data-customin="x:200;scaleX:0.5;scaleY:0.5;" data-customout="x:0;scaleX:1;scaleY:1;" data-start="1000" data-speed="700" data-easing="Sine.easeInOut"
                     data-endspeed="600" data-endeasing="Linear.easeNone">
                    <a class="btn btn-lg" href="http://steady-wagon-90-133356.usw1-2.nitrousbox.com:4000" target="_new">View Demo</a>
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<!-- /Slider Revolution-->
